<mat-toolbar class="toolbar">
    <h1>MyNews</h1>
    <span class="spacer"></span>
    <a routerLink="/news" routerLinkActive="active-link">Новости</a>
    <span class="spacer"></span>
    <form class="language-selector">
        <mat-select [formControl]="selectedLanguage" (valueChange)="setLanguage()">
            @for(lang of languageService.languages; track lang.code) {
            <mat-option [value]="lang">
                <span class="fi fi-{{lang.flagCode}}"></span>
                {{lang.language}}
            </mat-option>
            }
        </mat-select>
    </form>
</mat-toolbar>